<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Reset Password</title>
    <!-- plugins:css -->

    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600&display=swap" rel="stylesheet">
    <!-- endinject -->
    <!-- Plugin css for this page -->

    <!--Add the new slick-theme.css if you want the default styling-->

    <!-- End plugin css for this page -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="assets/css/reset-password-style.css" type="text/css">
    <!-- End layout styles -->

</head>

<body>
    <div class="page-body-wrapper">

        <div class="content-wrapper ">
            <header class="header-main">
                <div class="container">
                    Home Workout
                </div>
            </header>
            <!-- header section end -->
            <!-- hero section start -->
            <section class="reset-password">
                <div class="container">
                    <div class="reset-password-box">
                        <form method="post" action="/auth/resetPassword">
                        <div class="form-feildset">
                            <input type="password" placeholder="Password" name="password" required="true">
                        </div>
                        <div class="form-feildset">
                            <input type="password" placeholder="Confrim Password" name="confirmPassword" required="true">
                        </div>
                        <div><%=msg%></div>
                        <div class="form-feildset">
                            <button type="submit">Submit</button>
                        </div>
                    </form>
                    </div>
                </div>
            </section>

        </div>
    </div>
    <!-- content-wrapper ends -->
    <footer class="footer-main">

        <div class="container">

            <div class="footer-box">
                &copy; Copyright 2021. All Rights Reserved.
            </div>

        </div>
    </footer>

    <!-- page-body-wrapper ends -->

    <!-- container-scroller -->



</body>

</html>