/*
font-family: 'Abhaya Libre', serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/

body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    padding: 0;
    margin: 0;
}

html {
    padding: 0;
    margin: 0;
}

* {
    outline: none;
    box-sizing: border-box;
}

a,
a:focus,
a:active,
a:visited,
button,
input {
    outline: none;
    text-decoration: none;
}

.page-body-wrapper {
    min-height: calc(100vh - 70px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    padding-right: 0;
}

.page-body-wrapper.full-page-wrapper {
    width: 100%;
    min-height: 100vh;
}

.content-wrapper {
    background: #fff;
    background-size: cover;
    padding: 0;
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

header.header-main {
    width: 100%;
    display: flex;
    padding: 10px 0;
    background: #05A67E;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 110px;
}

.header-main {
    font-size: 34px;
    font-weight: bold;
    color: #fff;
}

header.header-main img {
    width: 150px;
}

.reset-password {
    width: 100%;
    display: block;
    padding: 25px 0;
    text-align: center;
}

.reset-password-box {
    width: 380px;
    max-width: 90%;
    display: inline-block
}

.form-feildset {
    width: 100%;
    padding: 10px 0;
    display: inline-block;
}

.form-feildset input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    line-height: 30px;
    border: 1px solid #e1e1e1;
    background: #fff;
    display: inline-block;
    border-radius: 8px;
    color: #000
}

.form-feildset button {
    width: auto;
    padding: 10px 25px;
    line-height: 26px;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid #05A67E;
    background: #05A67E;
    display: inline-block;
    border-radius: 8px;
    color: #fff
}

.footer-main {
    width: 100%;
    display: block;
    padding: 10px 0;
    background: #efefef;
    text-align: center;
}

.footer-box {
    width: 100%;
    display: block;
    padding: 15px 0;
    text-align: center;
    font-size: 15px;
    color: #333
}

.container {
    width: 1140px;
    max-width: 98%;
    margin: auto;
}